<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加用户</title>
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
        function uploadLogo(e,btn) {
            $.post('uploadImg',{
                'img':'aaaa',
                'userid':'1223'
            },function (data) {
                console.log('response Data = ' + data)
            })
            {
                console.log('this is in call back')
            }
        }

    </script>
</head>
<body>

<form method="post" enctype="multipart/form-data" target="_self" name="adduser" action="adduser">
    {% csrf_token %}
    <div style="width: 100%;height:500px;background: indianred">
        <p style="display: inline;">名称:</p> <input  type="text"  name="name"></input>
        <br>
        <p style="display:inline;">年龄:</p> <input type="text" name="age"></input>
        <br>
        <p style="display:inline;">地址:</p> <input type="text" name="address"></input>
        <br>
        <p style="display:inline;">电话:</p> <input type="text" name="tel"></input>
        <br>
        <p style="display:inline;">头像:</p> <input type="file" name="logo" id="fileUpload" onchange ="uploadLogo(this)"></input>
        <br>
        <p style="display:inline;">介绍:</p> <input type="text"name="intro"></input>
        <br>
    </div>

    <button type="submit">点击添加</button>

</form>

</body>
</html>