{% extends 'discountRetailApp/user/userbase.html' %}

{% block script %}
      <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
        function uploadLogo(e,btn) {
            $.post('uploadImg',{
                'img':'aaaa',
                'userid':'1223'
            },function (data) {
                console.log('response Data = ' + data)
            })
            {
                console.log('this is in call back')
            }
        }

    </script>
{% endblock %}